name: Deploy to AKS

on:
 push:
  branches:
   - main
 workflow_dispatch:

jobs:
 lint:
  runs-on: ubuntu-latest
  steps:
   - name: check out code
     uses: actions/checkout@v2
   - name: login to Docker Hub
     uses: docker/login-action@v2
     with:
      username: ${{ secrets.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_TOKEN }}
   - name: Set up Docker Buildx
     uses: docker/setup-buildx-action@v2
   - name: Build Docker Image
     working-directory: .
     run: docker build . -t ${{ github.repository }}:latest
   - name: Slim the image
     uses: kitabisa/docker-slim-action@v1
     env:
      DSLIM_HTTP_PROBE: false
     with:
      target: ${{ github.repository }}:latest
      tag: "slim"
   - name: Push the image 
     run: docker image push "${{ github.repository }}" --all-tags
   - name: Dump the report
     run: echo "${REPORT}"
     env:
      REPORT: ${{ steps.slim.outputs.report }}
      
   
